/* Topo */
.topo_area {
    width: 100%;
    height: 12vh;
    display: flex;
}

.container_topo {
    width: 100%;
    max-width: 1024px;
    margin: 0px auto;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img_logo {
    width: 65px;
    height: 50px;
}

.btn_config {
    padding: 10px 20px;
    display: flex;
    border: 2px solid var(--corDourado);
    border-radius: 25px;
}

.icon {
    font-size: 20px;
    font-weight: bold;
}

/* Banner */
.banner {
    width: 100%;
    height: 30vh;
    background: url(../../public/banner.jpg) no-repeat center center;
    background-size: cover;
}

/* Conteudo */

.container_base {
    width: 100%;
    max-width: 900px;
    height: 58vh;
    margin: 0px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    text-align: center;
}

.container_base p {
    line-height: 25px;
}

.letra_especial {
    font-family: var(--fonteGreatVibes);
    color: var(--corDourado);
    font-size: 30px;
}

/* Mudança tema */

.tema_dark {
    background-color: var(--corCinza);
    color: white;
}

.tema_dark button {
    background-color: var(--corCinza);
    color: white;
}

.tema_dark .img_logo {
    filter: invert(1) brightness(2) ;
}

.tema_light {
    background-color: white;
    color: black;
}

.tema_light button {
    background-color: white;
    color: black;
}

/* media-query */
@media screen and (max-width: 425px){
    .container_base {
        gap: 12px;
    }

    .container_base h1 {
        font-size: 22px;
    }

    .container_base p {
        font-size: 15px;
    }

    .container_base .letra_especial {
        font-size: 25px;
    }
}
